body {
    background-color: #f6f6f8;
}

*:focus {
    outline: none !important;
}

.panel-header {
    background-color: white;
    height: 55px;
    overflow: hidden;
    padding-top: 5px;
}

.gap-logo {
    width: 120px;
}

.h-title {
    font-size: 18px !important;
    font-weight: bold;
    padding-top: 10px;
    color: #212121;
}

.g-user{
    font-weight:bold;
    float:right;
    font-size:12px;
    padding-top:5px;
}

.padding-user {
    margin-right: 8px;
    margin-left: 8px;
}

.row-nav {
    background-color: white;
    height: 45px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12);
    border-top: solid 1px #f4f4f4;
}

.navbar{
    padding:0 !important;
}

.navbar-nav {
    width: 100%;
    height: 45px;
}

.nav-item, .nav-item a {
    margin: 0;
    width: 20%;
    font-size: 14px;
    color: #68686a;
}

.nav-item {
    border-left: solid 1px #f4f4f4;
    border-right: solid 1px #f4f4f4;
}

    .nav-item a {
        width: 100% !important;
        text-align:center;
        font-weight:600;
    }

.navbar-nav .active {
    background: rgba(68,41,121,1);
    background: -moz-linear-gradient(left, rgba(68,41,121,1) 0%, rgba(121,83,177,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(68,41,121,1)), color-stop(100%, rgba(121,83,177,1)));
    background: -webkit-linear-gradient(left, rgba(68,41,121,1) 0%, rgba(121,83,177,1) 100%);
    background: -o-linear-gradient(left, rgba(68,41,121,1) 0%, rgba(121,83,177,1) 100%);
    background: -ms-linear-gradient(left, rgba(68,41,121,1) 0%, rgba(121,83,177,1) 100%);
    background: linear-gradient(to right, rgba(68,41,121,1) 0%, rgba(121,83,177,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#442979', endColorstr='#7953b1', GradientType=1 );
}

    .navbar-nav .active a {
        color: white;
    }

.control-label{
    font-size:12px;
    font-weight:600;
}

.form-control{
    font-size:12px;
}

.h-filtro{
    color: rgba(68,41,121,1);
    font-weight:600;
    font-size:16px;
    margin-bottom:10px;
}

.btn-search {
    background-color:white;
    border:solid 1px rgba(68,41,121,1);
    color: rgba(68,41,121,1);
    font-size:14px;
    border-radius:24px;
    font-stretch:normal;
    width:255px;
    margin-top:30px;
}

.bg-light-purple {
    background-color: #e8e4ee;
    color: #6f5c99;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12);
    height:40px;
    font-size:12px;
    font-weight:600;
}

#Table_filter{
    display:none
}

.dataTable{
    font-size:12px;
    color: #68686a;
}

.dataTable tbody {
    /*background-color: red !important;*/
}

table.dataTable tbody tr {
    background-color: transparent !important;
}

    table.dataTable tbody tr td {
        background-color: white;
        border-top: solid 5px #f6f6f8
    }

.subtitle {
    font-size: 22px;
    color: #212121;
    padding: 6px 0;
}

.card-titulo {
    font-size: 16px;
    font-weight: 500 !important;
}

.label-formulario {
    font-weight: 500 !important;
    font-size: 12px;
}

.btnWhite {
    background-color: white;
    color: #432979;
}

.btnStyle {
    border: solid 1px #432979;
    font-size:14px;
    font-weight:600;
}

.disabled {
    pointer-events: none;
}

.btn-circle {
    background-color: #f6f6f8;
    color: #aca1c4;
    width:30px;
    height:30px;
    border-radius:60px;
}

.btn-circle a {
    color: #aca1c4;
    margin: 8px 0 0 8px;
    font-size:12px;
}

.card-body {
    padding: 5px 20px 10px 20px !important;
}

.form-group {
    margin-bottom: 0px !important;
}

.cursor{
    cursor:pointer;
}

.panel-user-control {
    height: 40px;
}

a:hover {
    text-decoration: none !important;
}

.menu-user {
    background-color: white;
    border-radius: 8px;
    padding:5px 15px;
    overflow:hidden;
    width:220px;
    float:right;
    z-index:1024;
}
    .menu-user:hover {
        background-color: #e8e4ee;
        color: #212121;
    }

        .menu-user:hover ul {
            display: inline;
        }

    .menu-user ul {
        display: none;
        position: absolute;
        background-color: white;
        border-radius: 8px;
        width: 220px;
        margin-top: 30px;
        margin-left: -190px;
        z-index: 1025;
        box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.24);
        overflow:hidden;
    }

        .menu-user ul li {
            list-style: none;
            width: 100%;
            margin-left: -39px;
            height: 25px;
        }

        .menu-user ul li a {
            width: 100%;
            height: 25px;
            padding-top: 5px;
            background-color: white;
            color: #212121;
            padding-left:10px;
            text-align:left;
            font-size:12px;
        }

            .menu-user ul li:hover, .menu-user ul li a:hover {
                color: #68686a;
                font-weight: 600;
            }

