<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="GAPProveedoresConnectionString" connectionString="Data Source=172.16.1.48;Initial Catalog=GAPProveedores;Persist Security Info=True;User ID=axconsulta;Password=LE89jf770Fx" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.0"/></startup></configuration>
