
@{
    ViewBag.Title = "Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row" style="">
                    <div class="col-md-12 h-filtro">Filtrar por</div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Aeropuerto</label>
                        @Html.DropDownList("idAeropuerto", new SelectList(ViewBag.AeropuertoList, "Id", "Nombre"), "Seleccionar", new { @class = "form-control" })
                        @*<select class="form-control" id="idAeropuerto">
            <option>Selecione</option>
        </select>*@
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Orden de compra</label>
                        <input type="text" class="form-control" id="OrdenCompra" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Folio</label>
                        <input type="text" class="form-control" id="Folio" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-sm-12"><label class="control-label text-right">Fecha de factura</label></div>
                            <div class="col-sm-2"> <label class="control-label text-right" style="color:#68686a !important">Inicio</label> </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="FechaFacInicio" />
                            </div>
                            <div class="col-sm-2"> <label class="control-label text-right" style="color:#68686a !important">Fin</label> </div>
                            <div class="col-sm-4"><input type="text" class="form-control" id="FechaFacFin" /></div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-sm-12"><label class="control-label text-right">Fecha propuesta de pago</label></div>
                            <div class="col-sm-2"> <label class="control-label text-right" style="color:#68686a !important">Inicio</label> </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="FechaPagoInicio" />
                            </div>
                            <div class="col-sm-2"> <label class="control-label text-right" style="color:#68686a !important">Fin</label> </div>
                            <div class="col-sm-4"><input type="text" class="form-control" id="FechaPagoFin" /></div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <button id="buscar" class="btn btn-search btn-purple float-right" onclick="fn_buscar()">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-sm-12">
        <table id="Table" class="dataTable dataTables_wrapper "></table>
    </div>
</div>

<script type="text/javascript">

    var fn_buscar = function () {

        var jsonData = JSON.stringify({
            idAeropuerto: $('#idAeropuerto').val() == '' ? null : $('#idAeropuerto').val(),
            OrdenCompra: $('#OrdenCompra').val() == '' ? null : $('#OrdenCompra').val(),
            Folio: $('#Folio').val() == '' ? null : $('#Folio').val(),
            FechaFacInicio: $('#FechaFacInicio').val() == '' ? null : $('#FechaFacInicio').val(),
            FechaFacFin: $('#FechaFacFin').val() == '' ? null : $('#FechaFacFin').val(),
            FechaPagoInicio: $('#FechaPagoInicio').val() == '' ? null : $('#FechaPagoInicio').val(),
            FechaPagoFin: $('#FechaPagoFin').val() == '' ? null : $('#FechaPagoFin').val()
        });

        console.log("#idAeropuerto", $('#idAeropuerto').val() );
        console.log("jsonData",jsonData );
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetFacturaList", "Gestion")',
             data: jsonData,
             async: false,
             success: function (data) {

                 $("#Table").html('');
                 $("#Table").append(
                     '<thead class="bg-light-purple"><tr>' +
                     '<td align="left">Aeropuerto</td>'+
                     '<td align="left">Número de orden de compra</td>' +
                     '<td align="left">Folio</td>' +
                     '<td align="right">Monto</td>' +
                     '<td align="center">Fecha de factura</td>' +
                     '<td align="center">Estatus</td>' +
                     '<td align="center">Fecha propuesta de pago</td>' +
                     '<td>Ver</td>'+
                     '</tr ></thead > '
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {

                     var link = '@Html.ActionLink(" ", "SolicitudDetalle", "Gestion", new { IdFactura = "_idFactura_" }, new { @class = "btn-ver" })';
                     link = link.replace('_idFactura_', data[i].IdFactura);

                     var color = ''
                     switch (data[i].IdEstatus) {
                         case 1: color = '#f9a32f'; // Pendiente
                             break;
                         case 2: color = '#448aff'; // En Proceso
                             break;
                         case 3: color = '#43ac3e'; // Aceptada
                             break; 
                         case 4: color = '#de343c'; // Rechazada
                             break;
                         case 5: color = '#43ac3e'; // Aceptada
                             break;
                     }

                     $("#Table").append('<tr>' +
                         '<td style="dislay: none;" align="center"><b>' + data[i].Aeropuerto + '</b></td>' +
                         '<td style="dislay: none;">' + data[i].OrdenCompra + '</td>' +
                         '<td style="dislay: none;">' + data[i].Folio + '</td>' +
                         '<td style="dislay: none;" align="right">$ ' + addCommas(data[i].Monto) + '</td>' +
                         '<td style="dislay: none;">' + data[i].FechaFactura + '</td>' +
                         '<td style="dislay: none; color:' + color + '" align="center"><b>' + data[i].Estatus + '</b></td>' +
                         '<td style="dislay: none;">' + data[i].FechaPago + '</td>' +
                         '<td style="dislay: none;">'+ link +'</td>' + '</tr>'
                     );
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });
             }
         });
    }

    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    $(".navbar-nav .nav-item").removeClass("active");
    $("#nav-1").addClass("active");

    $(document).ready(function () {
        fn_buscar();
    });

</script>