
@{
    ViewBag.Title = "Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!-- Bootstrap DatePicker -->
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/scripts\jquery-ui-1.12.1.min.js"></script>
<!-- Bootstrap DatePicker -->

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row" style="">
                    <div class="col-md-12 h-filtro">Filtrar por</div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Aeropuerto</label>
                        @Html.DropDownList("idAeropuerto", new SelectList(ViewBag.AeropuertoList, "Id", "Nombre"), "Seleccionar", new { @class = "form-control" })
                        @*<select class="form-control" id="idAeropuerto">
                                <option>Selecione</option>
                            </select>*@
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Orden de compra</label>
                        <input type="text" class="form-control" id="OrdenCompra" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Folio</label>
                        <input type="text" class="form-control" id="Folio" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-sm-12"><label class="control-label text-right">Fecha de factura</label></div>
                            <div class="col-sm-2"> <label class="control-label text-right" style="color:#68686a !important">Inicio</label> </div>
                            <div class="col-sm-4">
                                <input type="text" autocomplete="off" name="FechaFacInicio" style="font-size:12px;" class="form-control datepicker" id="FechaFacInicio" size="15" onkeydown="return false" placeholder="" data-date-format="dd/mm/yyyy">
                            </div>
                            <div class="col-sm-2"> <label class="control-label text-right" style="color:#68686a !important">Fin</label> </div>
                            <div class="col-sm-4">
                                <input type="text" autocomplete="off" name="FechaFacFin" style="font-size:12px;" class="form-control datepicker" id="FechaFacFin" size="15" onkeydown="return false" placeholder="" data-date-format="dd/mm/yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-sm-12"><label class="control-label text-right">Fecha propuesta de pago</label></div>
                            <div class="col-sm-2"> <label class="control-label text-right" style="color:#68686a !important">Inicio</label> </div>
                            <div class="col-sm-4">
                                <input type="text" autocomplete="off" name="FechaPagoInicio" style="font-size:12px;" class="form-control datepicker" id="FechaPagoInicio" size="15" onkeydown="return false" placeholder="" data-date-format="dd/mm/yyyy">
                            </div>
                            <div class="col-sm-2"> <label class="control-label text-right" style="color:#68686a !important">Fin</label> </div>
                            <div class="col-sm-4">
                                <input type="text" autocomplete="off" name="FechaPagoFin" style="font-size:12px;" class="form-control datepicker" id="FechaPagoFin" size="15" onkeydown="return false" placeholder="" data-date-format="dd/mm/yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <button id="buscar" class="btn btn-search btn-purple float-right" onclick="fn_buscar()">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-sm-12">
        <table id="Table" class="dataTable dataTables_wrapper "></table>
    </div>
</div>

<script type="text/javascript">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            //yearRange : "-10:+10"
            minDate: new Date(2018, 0, 1),
            maxDate: new Date(2019, 12, 1),
            showOn: "both",
            language: "es",
            showButtonPanel: false,
            buttonText: "<i class='fa fa-calendar'></i>"
        });
    });

    var fn_buscar = function () {

        var jsonData = JSON.stringify({
            idAeropuerto: $('#idAeropuerto').val() == '' ? null : $('#idAeropuerto').val(),
            OrdenCompra: $('#OrdenCompra').val() == '' ? null : $('#OrdenCompra').val(),
            Folio: $('#Folio').val() == '' ? null : $('#Folio').val(),
            FechaFacInicio: $('#FechaFacInicio').val() == '' ? null : $('#FechaFacInicio').val(),
            FechaFacFin: $('#FechaFacFin').val() == '' ? null : $('#FechaFacFin').val(),
            FechaPagoInicio: $('#FechaPagoInicio').val() == '' ? null : $('#FechaPagoInicio').val(),
            FechaPagoFin: $('#FechaPagoFin').val() == '' ? null : $('#FechaPagoFin').val()
        });

        console.log("#idAeropuerto", $('#idAeropuerto').val() );
        console.log("jsonData",jsonData );
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetFacturaList", "Gestion")',
             data: jsonData,
             async: false,
             success: function (data) {

                 $("#Table").html('');
                 $("#Table").append(
                     '<thead class="bg-light-purple"><tr>' +
                     '<td align="left">Aeropuerto</td>'+
                     '<td align="left">Número de orden de compra</td>' +
                     '<td align="left">Folio</td>' +
                     '<td align="right">Monto</td>' +
                     '<td align="center">Fecha de factura</td>' +
                     '<td align="center">Estatus</td>' +
                     '<td align="center">Fecha propuesta de pago</td>' +
                     '<td>Ver</td>'+
                     '</tr ></thead > '
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {

                     var link = '@Html.ActionLink(" ", "DetalleFactura", "Gestion", new { IdFactura = "_idFactura_" }, new { @class = "btn-ver" })';
                     link = link.replace('_idFactura_', data[i].IdFactura);

                     var color = ''
                     switch (data[i].IdEstatus) {
                         case 1: color = '#f9a32f'; // Pendiente
                             break;
                         case 2: color = '#448aff'; // En Proceso
                             break;
                         case 3: color = '#43ac3e'; // Aceptada
                             break;
                         case 4: color = '#de343c'; // Rechazada
                             break;
                         case 5: color = '#43ac3e'; // Aceptada
                             break;
                     }

                     $("#Table").append('<tr>' +
                         '<td style="dislay: none; text-transform:uppercase;" align="center"><b>' + data[i].Aeropuerto + '</b></td>' +
                         '<td style="dislay: none;" align="center">' + data[i].OrdenCompra + '</td>' +
                         '<td style="dislay: none;" align="center">' + data[i].Folio + '</td>' +
                         '<td style="dislay: none;" align="right">$ ' + addCommas(data[i].Monto) + '</td>' +
                         '<td style="dislay: none;" align="center">' + data[i].FechaFactura + '</td>' +
                         '<td style="dislay: none; color:' + color + '" align="center"><b>' + data[i].Estatus + '</b></td>' +
                         '<td style="dislay: none;" align="center">' + data[i].FechaPago + '</td>' +
                         '<td style="dislay: none;" align="center">'+ link +'</td>' + '</tr>'
                     );
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });
             }
         });
    }

    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    $(".navbar-nav .nav-item").removeClass("active");
    $("#nav-1").addClass("active");

    $(document).ready(function () {
        fn_buscar();
        $(".ui-datepicker-trigger").hide();
    });

</script>