
@{
    ViewBag.Title = "Orden de Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input-grid {
        border: none !important;
    }

    table.dataTable thead th, table.dataTable thead td {
        border-bottom: none !important;
    }

    table.dataTable.no-footer {
        border-bottom: none !important;
    }

    #Table_info{
        display:none;
    }
</style>

@Html.Hidden("OrdenCompra", (string)ViewBag.OrdenCompra)
<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row" style="">
                    <div class="col-md-12 h-filtro">Filtrar por</div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Aeropuerto</label>
                        <select></select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Orden de compra</label>
                        <input type="text" class="form-control" id="OrdenCompra" />
                    </div>
                    <div class="form-group col-md-4">
                        <button id="buscar" class="btn btn-search btn-purple float-right" onclick="fn_buscar()">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="table-responsive">
        <table id="Table" class="dataTable dataTables_wrapper "></table>
    </div>*@
<div class="row mt-3">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="Table" class="dataTable dataTables_wrapper "></table>
        </div>
    </div>
</div>

<script>
    var fn_buscar = function () {
        var jsonData = JSON.stringify({
            OrdenCompra: $('#OrdenCompra').val() == '' ? null : $('#OrdenCompra').val()
        });

        //var jsonData = JSON.stringify({
        //    OrdenCompra: 'AGU-OC-0001027'
        //});

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetOrdenCompraDetalleList", "Gestion")',
            data: jsonData,
            async: false,
            success: function (data) {
                //console.log("GetOrdenCompraDetalleList", data);
                $("#Table").html('');
                $("#Table").append(
                     '<thead class="bg-light-purple"><tr>' +
                    '<td align="center">Linea</td>' +
                    '<td align="center">Categoria</td>' +
                    '<td align="center">Producto</td>' +
                    '<td align="center">Unidad</td>' +
                    '<td align="center">Moneda</td>' +
                    //'<td align="center" style="width:300px !important;">OrdenCompra</td>' +
                    //'<td align="center">Empresa</td>' +
                    //'<td align="center">Agrupador</td>' +
                    //'<td align="center">CentroCosto</td>' +
                    //'<td align="center">TipoPresupuesto</td>' +
                    '<td align="center">Cantidad</td>' +
                    '<td align="center">Recibido</td>' +
                    '<td align="center">Facturado</td>' +
                    //'<td align="center">Solicitud</td>' +
                    '<td align="center">Precio</td>' +
                    '<td align="center">Monto</td>' +
                    //'<td align="center">ImpuestosxVenta</td>' +
                    //'<td align="center">CuentaProveedor</td>' +
                    //'<td align="center">RECIDLinSol</td>' +
                    //'<td align="center">EsConvenio</td>' +
                     '</tr ></thead > '
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {
                     $("#Table").append('<tr>' +
                         //'<td style="dislay: none;" align="center"><b>' + data[i].NumeroProveedor + '</b></td>' +
                         '<td style="dislay: none;" align="center">' + data[i].Linea + '</td>' +
                         '<td style="dislay: none;" align="left"><div style="width:250px">' + data[i].Categoria + '</div></td>' +
                         '<td style="dislay: none;" align="left"><div style="width:400px">' + data[i].Producto + '</div></td>' +
                         //'<td style="dislay: none;" align="left"><div style="width:400px"><input readonly="readonly" class="input-grid" type="text" style="width:400px" value="' + data[i].Producto + '"></div></td>' +
                         '<td style="dislay: none;" align="center">' + data[i].Unidad + '</td>' +
                         '<td style="dislay: none;" align="center">' + data[i].Moneda + '</td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].OrdenCompra + '</td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].Empresa + '</td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].Agrupador + '</td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].CentroCosto + '</td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].TipoPresupuesto + '</td>' +
                         '<td style="dislay: none;" align="right"><div style="width:100px">' + addCommas(data[i].Cantidad) + '<div></td>' +
                         '<td style="dislay: none;" align="right"><div style="width:100px">' + addCommas(data[i].Recibido) + '<div></td>' +
                         '<td style="dislay: none;" align="right"><div style="width:100px">' + addCommas(data[i].Facturado) + '<div></td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].Solicitud + '</td>' +
                         '<td style="dislay: none;" align="right"><div style="width:100px">$ ' + addCommas(data[i].Precio) + '<div></td>' +
                         '<td style="dislay: none;" align="right"><div style="width:100px">$ ' + addCommas(data[i].Monto) + '<div></td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].ImpuestosxVenta + '</td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].CuentaProveedor + '</td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].RECIDLinSol + '</td>' +
                         //'<td style="dislay: none;" align="center">' + data[i].EsConvenio + '</td>' +
                     '</tr>'

                         // '<td style="dislay: none;" align="right">$ ' + addCommas(data[i].Importe) + '</td>' +
                     );
                }
                $("#Table").append('</tbody>');

                $('#Table').DataTable({
                    "paging": false,
                    "bScrollInfinite": true,
                    "bScrollCollapse": true
                });

            }
        });
    }

    function addCommas(nStr) {
        nStr = (Math.round(nStr * 100) / 100).toFixed(2);
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    $(".navbar-nav .nav-item").removeClass("active");
    $("#nav-4").addClass("active");

    $(document).ready(function () {
        fn_buscar();
    });

    var fNumber = {
        sepMil: ",", // separador para los miles
        sepDec: '.', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDec + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.sepMil + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        go: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }
</script>