
@{
    ViewBag.Title = "Orden de Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row" style="">
                    <div class="col-md-12 h-filtro">Filtrar por</div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Aeropuerto</label>
                        @Html.DropDownList("idEstatus", new SelectList(ViewBag.EstatusOrdenCompraList, "IdEstatus", "EstatusNombre"), "Seleccionar", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label text-right">Orden de compra</label>
                        <input type="text" class="form-control" id="OrdenCompra" />
                    </div>
                    <div class="form-group col-md-4">
                        <button id="buscar" class="btn btn-search btn-purple float-right" onclick="fn_buscar()">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-sm-12">
        <table id="Table" class="dataTable dataTables_wrapper "></table>
    </div>
</div>

<script>
    var fn_buscar = function () {

        var jsonData = JSON.stringify({
            OrdenCompra: $('#OrdenCompra').val() == '' ? null : $('#OrdenCompra').val(),
            IdEstatus: $('#IdEstatus').val() == '' ? null : $('#IdEstatus').val()
        });

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetOrdenCompraList", "Gestion")',
            data: jsonData,
            async: false,
            success: function (data) {
                console.log(data);
                $("#Table").html('');
                $("#Table").append(
                     '<thead class="bg-light-purple"><tr>' +
                     //'<td align="left">Número de proveedor</td>'+
                     '<td align="left">Moneda</td>' +
                     '<td align="left">Aeropuerto</td>' +
                     '<td align="right">Órden Compra</td>' +
                     '<td align="center">Descripción</td>' +
                     //'<td align="center">RFC</td>' +
                     '<td align="center">Importe</td>' +
                     '<td align="center">Estatus</td>' +
                     '<td>Descargar</td>' +
                     '<td>Ver</td>' +
                     '</tr ></thead > '
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {

                     var link = '@Html.ActionLink(" ", "OrdenDetalle", "Gestion", new { OrdenCompra = "_OC_" }, new { @class = "btn-ver" })';
                     link = link.replace('_OC_', data[i].OrdenCompra);

                     var color = ''
                     switch (data[i].IdEstatus) {
                         case 1: color = '#f9a32f'; // Pendiente
                             break;
                         case 2: color = '#448aff'; // En Proceso
                             break;
                         case 3: color = '#43ac3e'; // Aceptada
                             break; 
                     }

                     $("#Table").append('<tr>' +
                         //'<td style="dislay: none;" align="center"><b>' + data[i].NumeroProveedor + '</b></td>' +
                         '<td style="dislay: none;" align="center">' + data[i].Moneda + '</td>' +
                         '<td style="dislay: none;" align="center">' + data[i].Empresa + '</td>' +
                         '<td style="dislay: none;" align="center">' + data[i].OrdenCompra + '</td>' +
                         '<td style="dislay: none;" align="center">' + data[i].Descripcion + '</td>' +
                         '<td style="dislay: none;" align="right">$ ' + addCommas(data[i].Importe) + '</td>' +
                         '<td style="dislay: none; color:' + color + '" align="center"><b>' + data[i].Estatus + '</b></td>' +
                         '<td style="dislay: none;" align="center"><b>Descargar</b></td>' +
                         '<td style="dislay: none;" align="center">'+ link +'</td>' + '</tr>'
                     );
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });
            }
        });
    }

    function addCommas(nStr) {
        nStr = (Math.round(nStr * 100) / 100).toFixed(2);
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    $(".navbar-nav .nav-item").removeClass("active");
    $("#nav-4").addClass("active");

    $(document).ready(function () {
        fn_buscar();
    });
</script>