
@{
    ViewBag.Title = "Solicitud de Facturación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 h-filtro">Filtrar por</div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label text-right">Aeropuerto</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label text-right">Estatus</label>
                                <select class="form-control">
                                    <option>Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label text-right">Fecha Inicio</label>
                                <input type="text" class="form-control" placeholder="    /    /" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label text-right">Fecha Fin</label>
                                <input type="text" class="form-control" placeholder="    /    /" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button id="buscar" class="btn btn-search btn-purple float-right">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-sm-12">
        <table id="Table" class="dataTable dataTables_wrapper ">
            @*<thead class="bg-light-purple">
                    <tr>
                        <td width="80">Número de solicitud</td>
                        <td width="80">Número de recepción</td>
                        <td>Fecha de solicitud</td>
                        <td>Importe</td>
                        <td>Número de Orden de Compra</td>
                        <td>PDF</td>
                        <td>XML</td>
                        <td>Estatus</td>
                        <td>Ver</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>1</b></td>
                        <td>12345678</td>
                        <td>09/Diciembre/2019</td>
                        <td>$ 354,456.00</td>
                        <td>GDL-OC-0003235</td>
                        <td>X</td>
                        <td>X</td>
                        <td><span class="text-warning"><b>Pendiente</b></span></td>
                        <td><a href="#">Ver</a></td>
                    </tr>
                </tbody>*@
        </table>
    </div>
</div>

<script type="text/javascript">
    var fn_buscar = function () {
         //var idGiroProveedor = $('#giro').val() == '' ? null : $('#giro').val();
         //var idAeropuerto = $('#aeropuerto').val() == '' ? null : $('#aeropuerto').val();
        //var idEstatus = $('#estatus').val() == '' ? null : $('#estatus').val();
        console.log('Entro');
        var jsonData = JSON.stringify({ idSolicitudFactura: null, idEstatus: null, fechaInicio: null, fechaFin: null });
         $.ajax({
             type: "GET",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetSolicitudFacturaList", "Gestion")',
             data: jsonData,
             async: false,
             success: function(data) {
                 console.log("Traigo Datos", data)
                 $("#Table").html('');
                 $("#Table").append('<thead class="bg-light-purple"><tr>' +
                     '<td>Número de<br> solicitud</td>'+
                     '<td>Número de recepción</td>' +
                     '<td>Fecha de solicitud</td>' +
                     '<td>Importe</td>' +
                     '<td>PDF</td>' +
                     '<td>XML</td>' +
                     '<td>Estatus</td>' +
                     '<td>Ver</td></tr></thead>'
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {
                     console.log(data);

                     @*var link = '@Html.ActionLink(" ", "About", "Home", new { idProvider ="_idProv_" }, new { @class = "fas fa-eye icon-color" })';
                     link = link.replace('_idProv_', data[i].IdProveedor);*@
                     @*var link = '@Html.ActionLink(" ", "AceptarProveedor", "Home", new { idProvider ="_idProv_" }, new { @class = "fas fa-eye icon-color" })';
                     link = link.replace('_idProv_', data[i].IdProveedor);*@
                     var link = '@Html.ActionLink("Ver", "SolicitudDetalle", "Gestion", new { idSolicitud ="_idSoliocitud_" }, new { @class = "" })';
                     link = link.replace('_idSoliocitud_', data[i].IdSolicitudFactura);

                     var color = ''
                     switch (data[i].UltimoEstatus) {
                         case 1: color = '#43ac3e';
                             break;
                         case 2: color = '#de343c';
                             break;
                         case 3: color = '#f9a32f';
                             break;
                         case 4: color = '#f9a32f';
                             break;
                         case 5: color = '#f9a32f';
                             break;
                     }

                     $("#Table").append('<tr>' +
                         '<td style="dislay: none;" align="center"><b>' + data[i].IdSolicitudFactura + '</b></td>' +
                         '<td style="dislay: none;">' + data[i].NumeroRecepcion + '</td>' +
                         '<td style="dislay: none;">' + data[i].FechaSolicitud + '</td>' +
                         '<td style="dislay: none;" align="right">$ ' + addCommas(data[i].Monto) + '</td>' +
                         //'<td style="dislay: none;">' + data[i].RutaPDF + '</td>' +
                         //'<td style="dislay: none;">' + data[i].RutaXML + '</td>' +
                         '<td style="dislay: none;" align="center"><img src="/Content/Images/descargar.png" width="32" /></td>' +
                         '<td style="dislay: none;" align="center"><img src="/Content/Images/descargar.png" width="32" /></td>' +

                         //'<td style="dislay: none;">' + data[i].UltimoEstatus + '</td>' +
                         '<td style="dislay: none; color:'+ color +'"><b>' + data[i].UltimoStatusLabel + '</b></td>' +
                         '<td style="dislay: none;">'+ link +'</td>' + '</tr>'
                         //'<td style="dislay: none;"><div class="btn-circle">' + link + '</div></td>' + '</tr>'
                     );
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });

             },
         });
    }

    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }


    $(document).ready(function () {
        console.log('Aqui');
        fn_buscar();
    });

</script>
