body {
}

.formPrincipal {
    width: 100%;
    display: inline-block;
}

.col50 {
    display: inline-flex;
    flex-direction: row;
    width: 50%;
}

.col100 {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.col25{
    display: inline-flex;
    flex-direction: row;
}